<?xml version="1.0" encoding="ISO-8859-1"?>

<configuration>

    <!-- We only print to the console (stdout) by default using the following format -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logging is set to info by default for our console logger -->
    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- You can either set logging level for whole packages -->
    <logger name="org.hexworks.zircon" level="OFF"/>
    <logger name="org.hexworks.cobalt" level="OFF"/>

    <!-- Or individual classes -->
    <logger name="org.hexworks.zircon.api.component.Button" level="OFF"/>

</configuration>
